* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-image: url(images.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
 }

 h1{
    color: goldenrod;
 }

 #message-el{
    font-style: italic;
 }

 button{
    background: goldenrod;
    color: #016f32;
    border: none;
    font-weight: bold;
    font-size: 1em;
    width: 150px;
    padding: 5px 5px;
    border-radius: 3px;
    cursor: pointer;
    margin: 4px 0;
    display: block;
    justify-self: center;
 }

 p{
    margin: 20px 0;
 }